*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}

.header-section{
    background-image: url('https://placehold.co/1920x1080');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* .header-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6) */


.hero-content h1{
    font-size: 4rem;
    margin-bottom: 15px;
    color: rgb(250, 114, 3);
    font-weight:600

}

.hero-content {
    font-size: 2rem;
    margin-bottom: 30px;
}


.btn-primary-custom{
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.7s ease;

}

.btn-primary-custom:hover{
    background-color: rgb(250, 114, 3);
    color: rgb(0, 19, 0);
}

.features-section{
    padding: 60px 0;
}

.features-section h2{
    text-align: center;
    margin-bottom: 50px;
    font-weight:600;
    color: rgb(3, 136, 3);
}

.feature-card{
    padding: 30px;
    background-color: wheat;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    /* box-shadow: -20px 18px 8px 5px rgba(0,0,0,0.1); */
    transition: transform 0.5s ease;
}
.feature-card:hover{
    transform: translateY(-10px)
}
.feature-card img{
    width: 70px;
    margin-bottom: 20px;
}

.feature-card h5{
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.feature-card p{
    color: green;
}

.testimonials-section{
    padding: 60px 0;
    background-color:rgb(250, 179, 121);
    text-align:center;
}

.testimonial{
    padding: 30px;
    background-color: rgb(7, 7, 139);
    color: white;
    border-radius: 15px;
}

.testimonial img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial p{
    font-size: 1.3rem;
    font-style: italic;
    color: #00fd2a;
}

.testimonial h5{
    margin-top: 20px;
    font-weight: 800;
}

.checout-section{
    padding: 60px 0;

}

.checout-section h2{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
}

.checkout-form{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: gray;
    box-shadow: 0 4px 20px rgba(200, 240, 155, 1);
}

.checkout-form .custom-input{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
}

.btn-custom{
    width: 100%;
    background-color: #00fd2a;
    font-weight: 20px;
    padding: 10px;
    border-radius: 15px;
}

.footer{
    padding: 30px 0;
    background-color: rgb(131, 128, 128);
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 150px;  
    height: 60px;
}

.social-icons a{
    color: white;
    font-size: 1.5rem;
    transition: color 0.5s ease;
}

.social-icons .fb{
    color: blue;
}

.social-icons .twitter{
    color: black;
}

.social-icons .youtube{
    color: red;
}
.social-icons a:hover{
    color: #ff6600;
}



